<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add character</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Create a Character:</h1>

    <form th:action="@{/addCharacter}"
          th:object="${characterForm}" method="POST">
<!--        <div class="createChamp"><label for="id">Id:</label><input type="number" min="1" id="id" th:field="*{id}" th:size="20" /></div>-->
        <div class="createChamp"><label for="name">Name:</label><input type="text" id="name" th:field="*{name}" /></div>
        <div class="createChamp"><label for="mage">I am a Mage!</label><input type="radio" th:name="type" th:id="mage" id="mage" th:value="Mage" th:field="*{type}"/></div>
        <div class="createChamp"><label for="warrior">I am a Warrior!</label><input type="radio" th:name="type" th:id="warrior" id="warrior" th:value="Warrior" th:field="*{type}"/></div>
        <div class="createChamp"><label for="hp">Healt Points:</label><input type="number" min="1" max="10" id="hp" th:field="*{hp}" th:size="20" /></div>
        <div><input type="submit" value="Create" /></div>
    </form>

    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>
</body>
</html>